[submodule "src/XJSIterator"]
	path = src/XJSIterator
	url = git@github.com:XJSLib/XJSIterator.git
[submodule "src/XJSMathematics"]
	path = src/XJSMathematics
	url = git@github.com:XJSLib/XJSMathematics.git
[submodule "src/XJSTree"]
	path = src/XJSTree
	url = git@github.com:XJSLib/XJSTree.git
[submodule "src/XJSParser"]
	path = src/XJSParser
	url = git@github.com:XJSLib/XJSParser.git
